<h3 style='align:center;padding:10px;margin:10px;'>CREATE NEW POST</h3>
<div class="form">
  <form method="POST" action="/posts/create_post">
    Title:<br>
    <input type="text" name="post_name"><br>
    Description:<br>
    <input type="text" name="description"><br><br>
    <br>

    <label for="Category">Category</label>
    <select name="subcategory_id">
        <optgroup label="Jobs">
          <option value="1">Web Developer</option>
          <option value="2">Accounting</option>
          <option value="3">Admin</option>
          <option value="4">Biotech</option>
          <option value="5">Customer Service</option>
          <option value="6">Waiter</option>
          <option value="7">Real State</option>
          <option value="8">Web Designer</option>
          <option value="9">Security</option>
        </optgroup>
        <optgroup label="Services">
          <option value="10">Web Development</option>
          <option value="11">Web Design</option>
          <option value="12">Beauty</option>
          <option value="13">Pet</option>
          <option value="14">Event</option>
          <option value="15">Financial</option>
          <option value="16">Household</option>
          <option value="17">Creative</option>
          <option value="18">Computer</option>
        </optgroup>
        <optgroup label="Sale">
          <option value="19">Cars</option>
          <option value="20">Toys</option>
          <option value="21">Jewerly</option>
          <option value="22">Materials</option>
          <option value="23">Bikes</option>
          <option value="24">Books</option>
          <option value="25">Business</option>
          <option value="26">Phones</option>
          <option value="27">Electronics</option>
          <option value="28">Clothes</option>
        </optgroup>
        </select>
    </select><br>

    Address/Location:<br>
    <input type="text" name="location"><br><br>
    Payment:<br>
    <input type="text" name="payment"><br><br>
    <input type="submit">
  </form>
  </div>