<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
      body {
    text-align: center;
    }
    form {
        display: inline-block;
    }
      </style>
    </head>
  <div class="topnav"> 
  <div><a href="/home">HOME</a></div>
    <div><a href="/registrations/signup">SIGNUP</a></div>
    <div><a href="/sessions/login">LOGIN</a></div>
  </div>
  <div class="header">
    <h1>C R A I G S L I S T</h1>
  </div>
  <br><br>
      <%=yield%>
      <body>
</html>
